@charset "UTF-8";

/* Web Fonts */


/* Standard Style */
body {
	background-color: #CCCCCC;
	font-family: 'Raleway', sans-serif;
}

h1 {
	color: grey;	
	font-family: 'Amatic SC', cursive;
	font-size: 5em;
	margin: 0;
}

p {
	margin-left: 10%;
	margin-right: 10%;
}
/* DIV Classes */
.title {
	
}


.work {
	
}


.education {
	
}


