@charset "UTF-8";

/* Web Fonts */


/* Standard Style */
body {
	background-color: #FFF;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1 {
	color: rgba(0,0,0, 0.3);	
	font-family: 'Amatic SC', cursive;
	font-size: 10em;
	margin-top: 0;
}

h2 {
	
}

h3 {
	
}

p {
	margin-left: 10%;
	margin-right: 10%;
}
/* DIV Classes */
.main-header {
	height: 500px;
	background: url('img/background.jpg');
	background-size: cover;
	vertical-align: middle;
	text-align: center;
	line-height: 150px;
}


.work {
	
}


.education {
	
}


